<h1>Books</h1>
　<table>
　    <thead>
　        <tr>
　            <th>Title</th>
　            <th>Body</th>
　            <th colspan="3"></th>
　        </tr>
　    </thead>
　    <tbody>
　        <% @books.each do |book| %>
　        <tr>
　         <td>トラブル知らずのシステム設計</td>
　         <td>システム設計の要点を図解で説明してくれます</td>
　         
　         <td>
　          <a>show</a>
　         </td>
　         
　         <td>
　           <a>Edit</a>
　         </td>
　         
　          <td>
　            <a>Destory</a>
　          </td>
　        </tr>
　    </tbody>
　</table>
　
<h2>New book</h2>
　<%= form_with model: List.new do |f| %>
 <h4>title</h4>
 <%= f.text_field :title %>
 
 <h4>body</h4>
 <%= f.text_area :body %>
 
 <%= f.submit 'Careate book'
<!--<% end %>-->
<!--<p>Find me in app/views/books/index.html.erb</p>-->
